@*
    -----------------------------------
    iScheduler - EditorWeekly.cshtml
    Amikor heti ütemezést kell beállítani.
    -----------------------------------
*@

@model Vrh.iScheduler.iSchedulerModel
@{
    string curlangForPicker = Model.CurrentLCID.Substring(0, 2);
    //string formatPickerDate = Model.DateTimeToBootstrapDTPF(Model.DateTimeFormat.Replace(@"\", String.Empty));
    string formatPickerDate = Model.DateTimeToBootstrapDTPF("yyyy.MM.dd HH:mm");

    HtmlString numberOfLabel = (HtmlString)Html.Raw(Model.Translation(typeof(WordCodes.iScheduler.Editor.Label.NumberOfWeeks)));
}

<tr>
    <td>
        <div class="editor-label">
            <label for="OperationTime">@Html.Raw(Model.Translation(typeof(WordCodes.iScheduler.Editor.Label.FirstTime)))</label>
        </div>
        <div class="editor-field">
            @*<div class="editor-htmlattributes">
                @Html.TextBoxFor(x => x.OperationTime, new { @type = "datetime-local", @Value = Model.OperationTime.ToString("yyyy-MM-ddThh:mm"), @onchange = "setSeriesName();" })
            </div>
            @Html.ValidationMessageFor(x => x.OperationTime)
            <br />*@
            <div id="Date" class="editor-htmlattributes input-group date picker_for_datetime" data-date="" data-date-format="@Html.Raw(formatPickerDate)" data-link-field="Date" data-link-format="@Html.Raw(formatPickerDate)">
                @Html.TextBoxFor(x => x.OperationTime, "{0:yyyy.MM.dd HH:mm}")
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            @Html.ValidationMessageFor(x => x.OperationTime)
            <br />
        </div>
    </td>
    <td>
        <div class="editor-label">
            <label for="NumberOf"></label>
        </div>
        <div class="editor-field">
            <div class="editor-htmlattributes">
                @Html.TextBoxFor(x => x.NumberOf, new { @type = "range", @min = "1", @max = "52", @onchange = "numberOfChange();", @oninput = "numberOfChange();" })
            </div>
            @Html.ValidationMessageFor(x => x.NumberOf)
            <br />
        </div>
    </td>
    <td rowspan="2" style="vertical-align:top">
        <div class="editor-label">
            @Html.LabelFor(x => x.SelectedWeekDays)
        </div>
        <div class="editor-field">
            <div class="editor-htmlattributes">
                @Html.ListBoxFor(x => x.SelectedWeekDays, Model.GetDaysOfWeek(), new { @size = "7" })
            </div>
        </div>
        <text style="color:yellow;font-style:italic;font-size:smaller;">
            @Html.Raw(Model.Translation(typeof(WordCodes.iScheduler.Editor.FootnoteOfDays)))
        </text>
    </td>
</tr>
<tr>
    <td>
        <div class="editor-label">
            @Html.LabelFor(x => x.SeriesName)
        </div>
        <div class="editor-field">
            <div class="editor-htmlattributes">
                @Html.TextBoxFor(x => x.SeriesName)
            </div>
            @Html.ValidationMessageFor(x => x.SeriesName)
            <br />
        </div>
    </td>
    <td>
        <div class="editor-label">
            @Html.LabelFor(x => x.SeriesColor)
        </div>
        <div class="editor-field">
            <div class="editor-htmlattributes">
                @Html.TextBoxFor(x => x.SeriesColor, new { @type = "color" })
            </div>
            @Html.ValidationMessageFor(x => x.SeriesColor)
            <br />
        </div>
    </td>
</tr>

<script type="text/javascript">
    $('.picker_for_datetime').datetimepicker({
        language: '@curlangForPicker',  @*milyen nemzetiség*@
        weekStart: 1,                   @*melyik nappal indul a hét 1=hétfő (0=vasárnap)*@
        todayBtn: 1,                    @*alul megjelenjen-e a "Ma" gomb*@
        todayHighlight: 1,              @*kiemelje-e a naptárban a mai napot*@
        autoclose: 1,                   @*bezáruljon-e a picker, ha kiválasztotta az értéket*@
        startView: 2,
        minView: 0,
        maxView: 4,
        forceParse: 0,
        pickerPosition: 'top-left',
        formatViewType: 'datetime',
    });
</script>