@model Exception

@helper GetException(Exception ex)
{
    <div class="row">
        <div class="col-md-2">Message:</div>
        <div class="col-md-10">@ex.Message</div>
    </div>
    <div class="row">
        <div class="col-md-2">Source:</div>
        <div class="col-md-10">@ex.Source</div>
    </div>
    <div class="row">
        <div class="col-md-2">HResult:</div>
        <div class="col-md-10">@ex.HResult</div>
    </div>
    <div class="row">
        <div class="col-md-2">Stack Trace:</div>
        <div class="col-md-10">@ex.StackTrace</div>
    </div>
    <div class="row">
        <div class="col-md-2">Target Site:</div>
        <div class="col-md-10">@ex.TargetSite</div>
    </div>
    <div class="row">
        <div class="col-md-2">Help Link:</div>
        <div class="col-md-10">@ex.HelpLink</div>
    </div>
    <div class="row">
        <div class="col-md-2">Data:</div>
        <div class="col-md-10">@ex.Data</div>
    </div>
if (ex.InnerException != null)
{
        <div class="row">
            <div class="col-md-2">Inner Exception:</div>
            <div class="col-md-10">
                @GetException(ex.InnerException);
            </div>
        </div>
}
}

@if (Model != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">OneReport Error list</div>
        <div class="panel-body">
            @GetException(Model);
        </div>
    </div>
}