@*
    -----------------------------------
    iSchedulerReport - Manager.cshtml
    -----------------------------------
*@
@using VRH.Log4Pro.MultiLanguageManager
@using Vrh.iScheduler.Report.Lib.Areas.iSchedulerReport.Models

@model ManagerViewModel

@{
    string areaName = (string)ViewContext.RouteData.DataTokens["area"];
    string controllerName = (string)ViewContext.RouteData.DataTokens["controller"];

    string dataTableUrl = Url.Action("ObjectManagerDataTables", "Ajax", new { area = areaName, groupId = Model.PackageGroupId, connectionString = Model.ConnectionString });
    string deletePackageUrl = Url.Action("DeletePackage", controllerName, new { area = areaName, connectionString = Model.ConnectionString, deleteRoleUrl = Model.DeleteRoleUrl });
    string editorUrl = Url.Action("Editor", controllerName, new { area = areaName, xmlfile = Model.XmlPath, sourceOfcalling = ManagerViewModel.CallSources.Manager });

    string labelId = MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.DataTables.Id));
    string labelName = MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.DataTables.Name));
    string labelDescription = MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.DataTables.Description));

    string languageCode = MultiLanguageManager.RelevantLanguageCode;

    //string dataTablesLanguageFile = Url.Action("GetDataTablesLanguage", "Home", new { area = "" }) + @"\?languageCode=" + languageCode;
    string dataTablesLanguageFile = Url.Content("~/DataTables/Content/DataTables/Languages/" + Model.CurrentLCID + ".txt");
    string dateTimePickerLanguage = languageCode.Substring(0, 2);
    string tableToolsSWFPath = Url.Content("~/DataTables/Content/DataTables/extras/TableTools/media/swf/copy_csv_xls_pdf.swf");

    int[] tableToolsExportColumnIndexes = new int[] { 0, 1, 2, 3, 4, 5, 6 };
}


@section Styles {
    <link href="~/Areas/iSchedulerReport/Contents/Manager.css" rel="stylesheet" />
}

<div id="report-panel" class="panel panel-primary">

    <div class="panel-heading">
        <h1 class="h-custom">
            @Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.Title)))
        </h1>
        <div class="row-inline">
            <button aria-label="Left Align" id="create-pack" class="btn btn-success" type="button">
                @Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.PackageAdd)))
            </button>
            <button aria-label="Left Align" id="mark-pack-noschedule" class="btn btn-warning" type="button"
                    title="@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.MarkNoScheduleTitle)))">
                @Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.MarkNoSchedule)))
            </button>
            <button aria-label="Left Align" id="mark-pack-missing" class="btn btn-warning" type="button"
                    title="@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.MarkMissingTitle)))">
                @Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.MarkMissing)))
            </button>
            <button aria-label="Left Align" id="clear-marks" class="btn btn-warning" type="button">
                @Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.ClearMarks)))
            </button>
        </div>
    </div>

    <div class="panel-body">
        <table id="scheduler-packages" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>@Html.Partial("~/Areas/DataTables/Views/DataTables/_ColumnFilterTextBox.cshtml")</th>
                    <th>@Html.Partial("~/Areas/DataTables/Views/DataTables/_ColumnFilterTextBox.cshtml")</th>
                    <th>
                        @if (Model.PackageGroupId == "*")
                        {
                            @Html.Partial("~/Areas/DataTables/Views/DataTables/_ColumnFilterTextBox.cshtml")
                        }
                        else
                        {
                            <input class="dataTablesFilterTextBox form-control" type="text" value="@Model.PackageGroupId" disabled />
                        }
                    </th>
                    <th>@Html.Partial("~/Areas/DataTables/Views/DataTables/_ColumnFilterTextBox.cshtml")</th>
                    <th>@Html.Partial("~/Areas/DataTables/Views/DataTables/_ColumnFilterTextBox.cshtml")</th>
                    <th>@Html.Partial("~/Areas/DataTables/Views/DataTables/_ColumnFilterTextBox.cshtml")</th>
                    <th>@Html.Partial("~/Areas/DataTables/Views/DataTables/_ColumnFilterTextBox.cshtml")</th>
                    <th></th>
                </tr>
                <tr>
                    <th id="packidtitle">@Html.Raw(labelId)</th>
                    <th id="packnametitle">@Html.Raw(labelName)</th>
                    <th>@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.DataTables.GroupName)))</th>
                    <th>@Html.Raw(labelDescription)</th>
                    <th>@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.DataTables.RoleName)))</th>
                    <th>@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.DataTables.Active)))</th>
                    <th>@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.DataTables.Mark)))</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tablerows"></tbody>
            <tfoot>
            </tfoot>
        </table>

    </div>
</div>

@section Scripts {
    <script src="~/Areas/iSchedulerReport/Scripts/Manager.js"></script>
    <script type="text/javascript">
        var schedulerReportXmlPath = '@Html.Raw(Model.XmlPath)';  //a controllerben már js-ítve van.
        var opSuccessful = '@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Editor.Messages.OperationSuccessful)))';
        var opUnsuccessful = '@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Editor.Messages.OperationUnSuccessful)))';
        var packNameEmpty = '@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Editor.Messages.PackageNameEmpty)))';
        var updateTitle = '@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.PackageUpdate)))';
        var deleteTitle = '@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Manager.PackageDelete)))';

        manvar.EditorUrl = '@Html.Raw(editorUrl)';

        // Törléshet kellő dolgok
        manvar.confirmDelete = '@Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.iSchedulerReport.Editor.Messages.ConfirmDeletePackage)))';
        manvar.labelId = '@Html.Raw(labelId)';
        manvar.labelName = '@Html.Raw(labelName)';
        manvar.labelDescription = '@Html.Raw(labelDescription)';
        manvar.labelYes = '@(Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.MasterData.Dialog.Yes))))';
        manvar.labelNo = '@(Html.Raw(MultiLanguageManager.GetTranslation(typeof(WordCodes.MasterData.Dialog.No))))';
        manvar.DeletePackageUrl = '@Html.Raw(deletePackageUrl)'
    </script>
    <script type="text/javascript">
        var oTable = null;
        var packageGroupId = '@Model.PackageGroupId';
        var dataTableUrl = '@Html.Raw(dataTableUrl)';
        var sourceManager = '@(ManagerViewModel.CallSources.Manager)';
        var exportColumns = [@string.Join(", ", tableToolsExportColumnIndexes)];
        var languageUrl = '@dataTablesLanguageFile';
        var dateTimePickerLanguage = '@dateTimePickerLanguage';
        var sSwfPath = '@tableToolsSWFPath';
        var columns = [
            {
                sName: "Id",
                sClass: 'text-right',
                sWidth: '50px',
            },
            {
                sName: "Name",
                sWidth: '80px',
            },
            {
                sName: "GroupName",
                sWidth: '80px',
            },
            {
                sName: "Description",
            },
            {
                sName: "RoleName",
            },
            {
                sName: "Active",
                sWidth: '40px',
                sClass: "text-center",
            },
            {
                sName: "Mark",
                sWidth: '40px',
            },
            {
                sName: "Actions",
                sClass: 'text-center',
                sWidth: "40px",
                bSearchable: false,
                bSortable: false,
                mRender: function (data, type, full) {
                    'use strict';
                    var paramUpdate = "'" + full[2] + "','" + full[1] + "'"; // GroupId és packName (ObjectId)
                    var paramDelete = "'" + full[0] + "','" + full[1] + "','" + full[3] + "'"; // id, name, description
                    var spanUpdate = '<span class="glyphicon glyphicon-pencil" aria-hidden="true" title="' + updateTitle + '"></span>';
                    var spanDelete = '<span class="glyphicon glyphicon-trash" aria-hidden="true" title="' + deleteTitle + '"></span>';
                    var html = '<a' + data + ' class="operation" onclick="updatePackage(' + paramUpdate + ');">' + spanUpdate + '</a>'
                             + '<a' + data + ' class="operation" onclick="deletePackage(' + paramDelete + ');">' + spanDelete + '</a>';
                    return html;
                }
            }
        ];
    </script>
}
